<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CicleViewKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA4C26141AB1037300995118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA4C26291AB1037300995118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAD57CCD1AB124DD008A0566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAD57CD71AB124DE008A0566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
